<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="org.apptwin.permission.BIND_CUSTODIAN"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:label="AppTwin Custodian"
        android:supportsRtl="true">
        <service
            android:name=".CustodianService"
            android:exported="true"
            android:permission="org.apptwin.permission.BIND_CUSTODIAN">
            <intent-filter>
                <action android:name="org.apptwin.custodian.action.BIND" />
            </intent-filter>
        </service>
    </application>

</manifest>
